html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    background: rgb(99,117,117);
    background: radial-gradient(circle, rgba(99,117,117,1) 0%, rgba(45,40,40,1) 100%);
    font-family: Calibri, sans-serif;
    height: inherit;
    justify-content: center;
}


.wrapper {
    backdrop-filter: blur(4px);
    background: rgba(255, 255,255, 0.25);
    border: 1px solid rgba(120, 120, 120, 0.01);
    border-radius: 15px;
    box-shadow: 0 5px 30px rgba(35, 35, 35, 0.1);
    flex-basis: 400px;
    height : 550px;
    padding: 20px 35px;
}

#screen {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    text-align: right;
    padding: 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
    color: #232323;
    font-size: 32px;
    overflow: auto;
    width: 326px;

}

.c {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

button {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(35, 35, 35, 0.01);
    border-radius: 15px;
    box-shadow: 0 5px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 60px;
}

button:last-child {
    background-color: #454545;
    color: #ffffff;
}

button:hover {
    background: rgba(155,155,155, 0.3);
}

button:active {
    background: rgba(200, 100, 0);
    transition: 0s;
}